*{
    box-sizing: border-box;
}
body{
    
}
header{
    height: 66px;
    background: chocolate;
}
header .logo{
    height: inherit;
    margin-left: 2em;
    border: 1px solid;
    float: left;
}
header ul{
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
}
header ul li {
    float: left;
position: relative;
}
ul li ul a:hover{
    background: cadetblue;
    border-radius: 20px;
}
ul li ul li a{
    padding: 10px;

}
header ul li a{
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 21px;
}
header ul li:hover ul{
    display: block;
    background: blanchedalmond;
    
}
ul li ul{
    top: 66px;
    width: 180px;
    right: 0;
    position: absolute;
    display:none;

}
ul li ul li{
    width: 100%;
}

